<!-- views/contact.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/dark-mode.css">
    <title>Contact Me</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="left-section">
            <a href="/" class="brand">Harshita Betala</a>
            <button id="darkModeToggle">Dark Mode</button>
        </div>
        <div class="right-section">
            <a href="/about">About me</a>
            <a href="/projects">Projects</a>
            <a href="/notes">Notes</a>
            <a href="/contact">Contact Me</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="main-content">
        <h1>Contact Me</h1>
        <!-- Add a contact form or contact information here -->
        <p>Feel free to reach out to me via email: your.email@example.com</p>
    </div>

    <!-- Footer -->
    <footer>
        <p>So many things to do, so less time</p>
    </footer>

    <script src="/scripts/main.js"></script>
</body>
</html>
