<!-- views/notes.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/dark-mode.css">
    <title>Notes</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="left-section">
            <a href="/" class="brand">Harshita Betala</a>
            <button id="darkModeToggle">Dark Mode</button>
        </div>
        <div class="right-section">
            <a href="/about">About me</a>
            <a href="/projects">Projects</a>
            <a href="/notes">Notes</a>
            <a href="/contact">Contact Me</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="main-content">
        <h1>Notes</h1>
        <ul>
            <li><a href="https://www.notion.so/AWS-Solutions-Architect-Associate-6f0f156b0f91422fba93e7a75b165c16" target="_blank">AWS Solutions Architect Associate</a></li>
            <!-- Add more notes as needed -->
        </ul>
    </div>

    <!-- Footer -->
    <footer>
        <p>So many things to do, so less time</p>
    </footer>

    <script src="/scripts/main.js"></script>
</body>
</html>
