* {
    box-sizing: border-box;
}

body {
    --space: 1rem;
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    font-family: "Corben", system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.marquee {
    --duration: 60s;
    --gap: var(--space);
    width: 100%;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    transform: skewY(-3deg);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: calc(100% + var(--gap));
    animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
        animation-play-state: paused;
    }
}

.marquee__group img {
    max-width: clamp(7rem, 1rem + 16vmin, 20rem);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
}

.marquee--borders {
    border-block: 3px solid dodgerblue;
    padding-block: 0.75rem;
}

.marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}